<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>

<div id="content">

  <div class="container" id="container">

    <!-- Sign in form -->
    <app-login></app-login>

    <!-- Регистрация-->
<!--    <app-signup></app-signup>-->


  <!-- Overlay -->
    <div class="container-overlay">
      <div class="overlay">
<!--        <div class="overlay-panel overlay-left">-->
<!--          <span>Добро пожаловать! </span>-->
<!--          <span>Создайте аккаунт для использования системы</span>-->
<!--        </div>-->

        <div class="overlay-panel overlay-right">
          <span>С возвращением!</span>
          <span>Войдите в аккаунт для использования системы</span>
        </div>
      </div>
    </div>

  </div>

</div>
